/* ::::: https://support.cdn.mozilla.net/static/build/common-min.e8b3c24a8874.css ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: bold; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0px; }
input[type="search"] { box-sizing: content-box; }
body { min-width: 960px; }
[class*="grid_"] { display: inline; float: left; position: relative; margin-left: 10px; margin-right: 10px; min-height: 1px; }
.no-min[class*="grid_"] { min-height: 0px; }
.html-ltr .container_12 { margin-left: auto; margin-right: auto; padding: 0px 20px; width: 960px; }
.html-ltr .container_12 .grid_12 { width: 940px; }
.html-ltr .container_12 .grid_9 { width: 700px; }
.html-ltr .container_12 .grid_4 { width: 300px; }
.html-ltr .container_12 .grid_3 { width: 220px; }
.html-ltr .container_12 .grid_2 { width: 140px; }
.html-ltr .container_12 .suffix_1 { padding-right: 80px; }
.clearfix::before, .clearfix::after { content: " "; display: block; overflow: hidden; visibility: hidden; width: 0px; height: 0px; }
.clearfix::after { clear: both; }
@font-face {
	font-family: "Open Sans";
	src: url('opensans-regular-webfont.eot') format("embedded-opentype"), url('opensans-regular-webfont.woff') format("woff"), url('opensans-regular-webfont.ttf') format("truetype"), url('opensans-regular-webfont.svg') format("svg");
}
@font-face {
	font-family: "Open Sans";
	font-weight: 600;
	src: url('opensans-semibold-webfont.eot') format("embedded-opentype"), url('opensans-semibold-webfont.woff') format("woff"), url('opensans-semibold-webfont.ttf') format("truetype"), url('opensans-semibold-webfont.svg') format("svg");
}
@font-face {
	font-family: "Open Sans";
	font-weight: bold;
	src: url('opensans-bold-webfont.eot') format("embedded-opentype"), url('opensans-bold-webfont.woff') format("woff"), url('opensans-bold-webfont.ttf') format("truetype"), url('opensans-bold-webfont.svg') format("svg");
}
@font-face {
	font-family: "Open Sans Light";
	src: url('opensans-light-webfont.eot') format("embedded-opentype"), url('opensans-light-webfont.woff') format("woff"), url('opensans-light-webfont.ttf') format("truetype"), url('opensans-light-webfont.svg') format("svg");
}
.cf {  }
.cf::before, .cf::after { display: table; content: ""; line-height: 0; }
.cf::after { clear: both; }
@font-face {
	font-family: "MetaBold";
	src: url('metawebpro-bold.2ae8ff41a749.eot') format("embedded-opentype"), url('metawebpro-bold.958e20a42770.woff') format("woff"), url('metawebpro-bold.ff98af2fcd50.ttf') format("truetype"), url('metawebpro-bold.f4d7ce771ac3.svg') format("svg");
}
@font-face {
	font-family: "MetaMedium";
	src: url('metawebpro-medium.ff84ac85cc11.eot') format("embedded-opentype"), url('metawebpro-medium.5e40767784b5.woff') format("woff"), url('metawebpro-medium.ef01057ecc48.ttf') format("truetype"), url('metawebpro-medium.82838da3d8af.svg') format("svg");
}
@font-face {
	font-family: "Moz";
	src: url('moz-regular-webfont.40cf8937ba7b.eot') format("embedded-opentype"), url('moz-regular-webfont.224b100b3e7b.woff') format("woff"), url('moz-regular-webfont.899b58e5c0a4.ttf') format("truetype"), url('moz-regular-webfont.69ab375dcab5.svg') format("svg");
}
@font-face {
	font-family: "Moz";
	font-weight: bold;
	src: url('moz-medium-webfont.b90766b41d41.eot') format("embedded-opentype"), url('moz-medium-webfont.357b8e9ba2f9.woff') format("woff"), url('moz-medium-webfont.2ba3ea1b08db.ttf') format("truetype"), url('moz-medium-webfont.dfb26bab2b05.svg') format("svg");
}
@font-face {
	font-family: "Komikax";
	src: url('komikax-webfont.91a1d8c3b0d4.eot') format("embedded-opentype"), url('komikax-webfont.be3764a9fefe.woff') format("woff"), url('komikax-webfont.e0f9183ec536.ttf') format("truetype"), url('komikax-webfont.efbbc223de08.svg') format("svg");
}
a, a:link, a:visited { color: rgb(0, 149, 221); text-decoration: none; }
a:hover { color: rgb(0, 83, 159); text-decoration: underline; }
article a:visited { color: rgb(80, 17, 179); }
body { color: rgb(72, 72, 72); font-family: "Open Sans",Arial,Helvetica,sans-serif; font-size: 14px; min-width: 1000px; text-align: left; }
body > header { background: url('grain.b11bae45d622.png') repeat scroll 0% 0%, transparent linear-gradient(rgb(202, 225, 244), rgb(222, 231, 238) 65%, rgb(212, 220, 228)) repeat scroll 0% 0%; border-bottom: 1px solid rgb(179, 184, 188); border-top: 2px solid rgb(255, 255, 255); margin-bottom: 20px; padding-bottom: 20px; }
body > header .logo { float: left; margin-top: 20px; }
body > header .logo img { display: block; height: 46px; }
body, html { background: rgb(234, 239, 242) url('grain.b11bae45d622.png') repeat scroll 0px 0px; }
footer { background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin: 100px 0px 0px; padding: 45px 0px 10px; text-align: left; }
footer ul { font-size: 13px; list-style: outside none none; margin: 0px; padding: 0px; }
footer ul li { margin-bottom: 8px; }
footer .fineprint { color: rgb(187, 187, 187); font-size: 12px; line-height: 160%; }
h1, h2, h3, h4, h5, h6 { font-family: "Open Sans Light",Arial,Helvetica,sans-serif; font-weight: normal; }
h1 { font-size: 30px; }
.breadcrumbs { background: rgb(229, 234, 237) url('grain.b11bae45d622.png') repeat scroll 0% 0%; border-color: rgb(219, 224, 227) rgb(219, 224, 227) rgb(245, 247, 249); border-style: solid; border-width: 1px; font-weight: 600; margin: -20px 0px 20px; padding: 4px 4px 5px; position: relative; z-index: 1; }
.breadcrumbs::after { background: rgb(219, 224, 227) none repeat scroll 0% 0%; bottom: 0px; content: ""; height: 1px; left: 0px; position: absolute; right: 0px; z-index: -1; }
.breadcrumbs::before { border: 2px solid rgba(0, 0, 0, 0.01); bottom: 1px; content: ""; left: 0px; position: absolute; right: 0px; top: 0px; z-index: -1; }
.breadcrumbs #breadcrumbs { color: rgb(51, 51, 51); font-size: 12px; list-style: outside none none; padding: 0px; text-transform: uppercase; }
.breadcrumbs #breadcrumbs > li { float: left; margin: 0px 6px 0px 0px; }
.breadcrumbs #breadcrumbs > li::before { content: " >"; margin: 0px 6px 0px 0px; }
.breadcrumbs #breadcrumbs > li:first-of-type::before { content: ""; margin: 0px; }
.rgba .breadcrumbs::after { background: rgba(0, 0, 0, 0.03) none repeat scroll 0% 0%; }
input[type="submit"], input[type="button"], .btn, .btn:link, .btn:visited, .btn:hover { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-width: 0px 0px 2px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(232, 232, 232); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 6px; box-shadow: 0px 0px 12px rgba(230, 230, 230, 0.2) inset, 0px 0px 0px 1px rgb(208, 208, 208); color: rgb(51, 51, 51); cursor: pointer; display: inline-block; font-family: "Open Sans",Arial,Helvetica,sans-serif; font-size: 14px; font-weight: normal; margin: 0px 2px; padding: 1px 10px 4px; position: relative; text-align: center; text-decoration: none; z-index: 1; }
input.btn-important[type="submit"]::before, input.btn-important[type="button"]::before, .btn.btn-important::before, .btn.btn-important:link::before, .btn.btn-important:visited::before, .btn.btn-important:hover::before, input.btn-submit[type="submit"]::before, input.btn-submit[type="button"]::before, .btn.btn-submit::before, .btn.btn-submit:link::before, .btn.btn-submit:visited::before, .btn.btn-submit:hover::before, input.btn-warning[type="submit"]::before, input.btn-warning[type="button"]::before, .btn.btn-warning::before, .btn.btn-warning:link::before, .btn.btn-warning:visited::before, .btn.btn-warning:hover::before { bottom: 0px; border-radius: 5px; content: ""; left: 0px; position: absolute; right: 0px; top: 0px; z-index: -1; }
input.btn-important[type="submit"]::before, input.btn-important[type="button"]::before, .btn.btn-important::before, .btn.btn-important:link::before, .btn.btn-important:visited::before, .btn.btn-important:hover::before { background: transparent linear-gradient(to bottom, rgb(129, 188, 46), rgb(98, 152, 39)) repeat scroll 0% 0%; border-bottom: 2px solid rgb(84, 131, 34); }
input.btn-submit[type="submit"]::before, input.btn-submit[type="button"]::before, .btn.btn-submit::before, .btn.btn-submit:link::before, .btn.btn-submit:visited::before, .btn.btn-submit:hover::before { background: transparent linear-gradient(to bottom, rgb(60, 136, 204), rgb(49, 115, 174)) repeat scroll 0% 0%; border-bottom: 2px solid rgb(43, 101, 154); }
input.btn-warning[type="submit"]::before, input.btn-warning[type="button"]::before, .btn.btn-warning::before, .btn.btn-warning:link::before, .btn.btn-warning:visited::before, .btn.btn-warning:hover::before { background: transparent linear-gradient(rgb(209, 86, 70), rgb(166, 64, 48)) repeat scroll 0% 0%; border-bottom: 2px solid rgb(159, 37, 25); }
.btn:disabled, .btn.disabled { opacity: 0.5; }
.btn-page::after, .btn-page:link::after, .btn-page:visited::after, .btn-page:hover::after { background: transparent url('page-button-ends.5735ef1c02f6.png') no-repeat scroll -26px 0px; content: ""; height: 32px; position: absolute; right: -7px; top: 0px; width: 7px; }
.btn-page::before, .btn-page:link::before, .btn-page:visited::before, .btn-page:hover::before { background: transparent url('page-button-ends.5735ef1c02f6.png') no-repeat scroll -34px 0px; content: ""; height: 32px; left: -7px; position: absolute; top: 0px; width: 7px; }
.btn-page.btn-page-next::after, .btn-page.btn-page-next:link::after, .btn-page.btn-page-next:visited::after, .btn-page.btn-page-next:hover::after { background-position: -42px 0px; right: -25px; width: 25px; }
.btn-page.btn-page-prev::before, .btn-page.btn-page-prev:link::before, .btn-page.btn-page-prev:visited::before, .btn-page.btn-page-prev:hover::before { background-position: 0px 0px; left: -25px; width: 25px; }
.card-grid > li::before { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 5px; bottom: 1px; content: ""; left: 1px; position: absolute; right: 1px; top: 1px; z-index: -1; }
.feature-box::after { background: rgb(219, 224, 227) none repeat scroll 0% 0%; bottom: 0px; content: ""; height: 1px; left: 0px; position: absolute; right: 0px; z-index: -1; }
.feature-box::before { border: 2px solid rgba(0, 0, 0, 0.01); bottom: 1px; content: ""; left: 0px; position: absolute; right: 0px; top: 0px; z-index: -1; }
.feature-box h1:not(:first-of-type) { border-top: 1px dotted rgb(193, 197, 200); margin-top: 20px; padding: 10px 0px 0px; }
.rgba .feature-box::after { background: rgba(0, 0, 0, 0.03) none repeat scroll 0% 0%; }
.folding-section > header::after, [data-ui-type="folding-section"] > header::after { background: transparent url('icons-sprite.5b3fc773da18.png') no-repeat scroll -50px -396px; content: ""; height: 16px; left: auto; margin: -8px 0px 0px; position: absolute; right: 0px; top: 50%; width: 16px; }
.folding-section.collapsed > header::after, .collapsed[data-ui-type="folding-section"] > header::after { background-position: -50px -282px; margin-top: -10px; top: 50%; }
.folding-section > header::after { left: auto; margin: 0px; right: 16px; top: 18px; }
.folding-section.collapsed > header::after { margin: 0px; top: 16px; }
.logo-sprite { background-position: 50% 50%; background-repeat: no-repeat; height: 96px; width: 96px; }
.progress-bar::after { border-bottom: 1px solid rgb(249, 249, 249); border-radius: 13px; bottom: -2px; content: ""; left: 0px; position: absolute; right: 0px; top: 0px; z-index: -1; }
.progress-bar::before { border: 2px solid rgba(0, 0, 0, 0.01); border-radius: 12px; bottom: 0px; content: ""; left: 0px; position: absolute; right: 0px; top: 0px; z-index: -1; }
.sidebar-nav { font-family: "Open Sans",Arial,Helvetica,sans-serif; font-size: 13px; list-style: outside none none; margin: 0px; padding: 0px; text-transform: uppercase; }
.sidebar-nav > li { position: relative; }
.sidebar-nav > li > span, .sidebar-nav > li > a, .sidebar-nav > li > a:visited { background: rgb(247, 250, 252) url('grain.b11bae45d622.png') repeat scroll 0% 0%; color: rgb(51, 51, 51); cursor: pointer; display: block; padding: 16px 20px; position: relative; text-decoration: none; }
.sidebar-nav > li > span.sort-asc::after, .sidebar-nav > li > a.sort-asc::after, .sidebar-nav > li > a.sort-asc:visited::after, .sidebar-nav > li > span.sort-desc::after, .sidebar-nav > li > a.sort-desc::after, .sidebar-nav > li > a.sort-desc:visited::after { content: ""; display: inline-block; height: 0px; margin-bottom: 2px; margin-left: 6px; width: 0px; }
.sidebar-nav > li > span.sort-asc::after, .sidebar-nav > li > a.sort-asc::after, .sidebar-nav > li > a.sort-asc:visited::after { border-color: transparent transparent rgb(0, 0, 0); border-style: solid; border-width: 0px 6px 6px; }
.sidebar-nav > li > span.sort-desc::after, .sidebar-nav > li > a.sort-desc::after, .sidebar-nav > li > a.sort-desc:visited::after { border-color: rgb(0, 0, 0) transparent transparent; border-style: solid; border-width: 6px 6px 0px; }
.sidebar-nav > li > span:hover, .sidebar-nav > li > a:hover { background-color: rgb(248, 250, 251); color: rgb(0, 83, 159); text-decoration: none; }
.sidebar-nav > li.selected { border-bottom: 1px solid rgb(255, 255, 255); }
.sidebar-nav > li.selected > span, .sidebar-nav > li.selected > a, .sidebar-nav > li.selected > a:visited, .sidebar-nav > li.selected > a:hover { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-color: rgb(231, 231, 231); border-style: solid; border-width: 1px 0px; color: rgb(51, 51, 51); font-family: "Open Sans",Arial,Helvetica,sans-serif; font-weight: bold; position: relative; }
.sidebar-nav > li.selected > span::before, .sidebar-nav > li.selected > a::before { background: transparent url('sidebar-arrow.2d69b6f186d4.gif') no-repeat scroll 0px 3px; content: ""; height: 30px; left: 0px; margin-top: -15px; position: absolute; top: 50%; width: 15px; }
.sidebar-nav.sidebar-folding > li { border-bottom: 1px dotted rgb(193, 197, 200); position: relative; }
.sidebar-nav.sidebar-folding > li::after { display: none; }
.sidebar-nav.sidebar-folding > li.selected > span::after, .sidebar-nav.sidebar-folding > li.selected > a::after, .sidebar-nav.sidebar-folding > li.selected > a:visited::after { background-position: -50px -396px; margin-top: -10px; }
.sidebar-nav.sidebar-folding > li:last-of-type { border: 0px none; }
.sidebar-nav.sidebar-folding > li > .sidebar-nav, .sidebar-nav.sidebar-folding > li > .folder { display: none; }
.sidebar-nav.sidebar-folding > li > span, .sidebar-nav.sidebar-folding > li > a, .sidebar-nav.sidebar-folding > li > a:visited { padding-right: 46px; }
.sidebar-nav.sidebar-folding > li > span::after, .sidebar-nav.sidebar-folding > li > a::after, .sidebar-nav.sidebar-folding > li > a:visited::after { background: transparent url('icons-sprite.5b3fc773da18.png') no-repeat scroll -50px -282px; content: ""; height: 16px; left: auto; margin: -8px 0px 0px; position: absolute; top: 50%; right: 16px; width: 16px; }
.sidebar-nav .sidebar-nav > li > span, .sidebar-nav .sidebar-nav > li > a, .sidebar-nav .sidebar-nav > li > a:visited { font-size: 12px; padding: 10px 20px 10px 30px; }
.sidebar-nav .sidebar-nav > li > span:hover, .sidebar-nav .sidebar-nav > li > a:hover { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.sidebar-nav .sidebar-nav > li.selected > a:hover { background-color: rgb(255, 255, 255); }
#aux-nav { float: right; font-size: 12px; font-weight: 600; position: relative; text-transform: uppercase; z-index: 10; }
#aux-nav > ul { float: right; list-style: outside none none; margin: 0px; padding: 0px; }
#aux-nav > ul > li { color: rgb(72, 72, 72); float: left; margin: 0px 8px 0px 0px; position: relative; }
#aux-nav > ul > li.dropdown > a::after, #aux-nav > ul > li.dropdown > span::after { border-color: rgb(102, 102, 102) transparent transparent; border-style: solid; border-width: 4px; content: " "; display: inline-block; height: 0px; left: 4px; margin: 0px 0px 0px 4px; top: 12px; vertical-align: middle; width: 0px; }
#aux-nav > ul > li > a, #aux-nav > ul > li > a:visited, #aux-nav > ul > li > span { color: rgb(51, 51, 51); display: block; font-weight: normal; height: 42px; line-height: 40px; padding: 0px 12px; text-decoration: none; }
#aux-nav > ul > li > a.locale-picker, #aux-nav > ul > li > a.locale-picker:visited, #aux-nav > ul > li > span.locale-picker { background-image: url('icons-sprite.5b3fc773da18.png'); background-position: -38px -153px; background-repeat: no-repeat; padding-left: 34px; }
#aux-nav > ul > li > a:hover { background-color: rgb(255, 255, 255); text-decoration: none; }
#aux-nav > ul > li > ul.double > li:nth-child(2n+1) { clear: left; }
#aux-nav > ul > li:hover { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#stage-banner .close-button::before { content: "✕"; font-size: 22px; height: 24px; left: 0px; line-height: 22px; position: absolute; text-align: center; text-indent: 0px; top: 0px; width: 24px; }
.simple-search-form { position: relative; }
.simple-search-form .submit-button { background: transparent url('icons-sprite.5b3fc773da18.png') no-repeat scroll -50px -50px; border: 0px none; height: 17px; position: absolute; right: 12px; text-indent: -9999px; top: 6px; width: 17px; }
.simple-search-form .searchbox { background: url('grain.b11bae45d622.png') repeat scroll 0% 0%, transparent linear-gradient(to bottom, rgb(141, 150, 158), rgb(168, 176, 183)) repeat scroll 0% 0%; border: 0px none; border-radius: 30px; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5) inset; color: rgb(255, 255, 255); font-size: 14px; height: 18px; padding: 6px 42px 6px 20px; }
.simple-search-form .searchbox:focus { outline: 0px none; }
.simple-search-form .searchbox:focus:-moz-placeholder { color: rgb(255, 255, 255); }
.simple-search-form .searchbox:focus::-moz-placeholder { color: rgb(255, 255, 255); }
.simple-search-form .searchbox:-moz-placeholder { color: rgb(255, 255, 255); opacity: 1; }
.simple-search-form .searchbox::-moz-placeholder { color: rgb(255, 255, 255); opacity: 1; }
#support-search { display: block; float: right; margin: 35px 0px 0px; }
#support-search .searchbox { width: 200px; }
.announce-bar { background: rgb(238, 255, 255) url('warning-stripes.bcedf96a26bf.png') repeat-x scroll left top; display: none; font-size: 13px; margin-bottom: 1px; min-height: 30px; line-height: 28px; overflow: auto; position: relative; }
.announce-bar::before { background: rgb(255, 255, 255) none repeat scroll 0% 0%; bottom: 0px; content: ""; left: 0px; opacity: 0.5; position: absolute; right: 0px; top: 0px; }
.announce-bar .grid_12 { z-index: 1; }
.announce-bar .grid_12 > * { float: left; }
.announce-bar .grid_12 .close-button { background: transparent url('icons-sprite.5b3fc773da18.png') no-repeat scroll -50px -2022px; cursor: pointer; float: right; height: 15px; margin-top: 7px; width: 15px; z-index: 2; }
.ajax-vote-box::after { background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); content: ""; display: block; height: 20px; left: 50%; margin-left: -20px; position: absolute; top: 20px; transform: rotate(45deg); width: 20px; z-index: 1; }
@media only screen and (max-device-width: 450px) {
	.mobile-banner { position: relative; width: 100%; font-size: 36pt; background: rgb(54, 54, 54) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-align: center; padding: 10pt 0px; }
	.mobile-banner .close-button { background: rgb(0, 0, 0) none repeat scroll 0% 0%; border: 0.5pt solid rgb(255, 255, 255); border-radius: 50%; box-shadow: 0px 0px 3pt rgba(0, 0, 0, 0.2); cursor: pointer; height: 40pt; width: 40pt; position: absolute; left: 16pt; bottom: 12pt; font-size: 0px; }
	.mobile-banner .close-button::before { content: "✕"; font-size: 36pt; line-height: 40pt; height: 40pt; width: 40pt; text-align: center; text-indent: 0px; position: absolute; top: 1pt; left: 0px; }
}
@media only screen and (min-device-width: 451px) {
	.mobile-banner { display: none; }
}
#nav-access { background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin: 0px; padding: 0px; position: absolute; top: -20em; width: 100%; z-index: 1001; }
#nav-access a { background: rgba(255, 255, 255, 0.9) none repeat scroll 0% 0%; position: absolute; left: 0px; right: 0px; font-weight: bold; text-align: center; padding: 0px; margin: 0px; }
#nav-access a:focus { top: 20em; text-decoration: none; }
.html-rtl > .breadcrumbs > .container_12 > #breadcrumbs > li::before { margin: 0px 0px 0px 6px; }
.result::before { background: transparent url('search-icons-sprite.683c440d7875.png') no-repeat scroll 0px 0px; content: ""; height: 56px; left: 0px; position: absolute; top: 0px; width: 56px; }
.result.document::before { background-position: -46px -46px; }
.result.question::before { background-position: -46px -194px; }
#advanced-search #tab-wrapper > form .thread-type li:nth-of-type(2n-1), #advanced-search #tab-wrapper > form .topics li:nth-of-type(2n-1) { clear: left; }
/* ::::: https://support.cdn.mozilla.net/static/build/jqueryui-min.f3e43cb678af.css ::::: */

.ui-helper-clearfix::before, .ui-helper-clearfix::after { content: ""; display: table; border-collapse: collapse; }
.ui-helper-clearfix::after { clear: both; }
/* ::::: https://support.cdn.mozilla.net/static/build/wiki-min.3579f964e89a.css ::::: */

.no-details details summary::before { background: transparent url('bkg.collapsibles.ef24d98e708d.png') no-repeat scroll 5px 13px; content: ""; height: 100%; left: 0px; position: absolute; width: 30px; }
.no-details details.open summary::before { background-position: 5px -37px; }
.no-details .html-rtl details summary::before { left: auto; right: 0px; }
h1.product-title { font-family: "MetaBold",Arial,Helvetica,sans-serif; font-size: 46px; height: 90px; line-height: 88px; margin: 0px 0px 20px; }
h1.product-title a { color: inherit; text-decoration: inherit; }
h1.product-title .logo-sprite { float: left; margin: 0px 8px 0px 0px; }
article { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 30px; }
article h1:first-child { margin-top: 0px; padding-top: 0px; }
article > * { transition: opacity 1s ease 0s; }
#editing-tools-sidebar .showfor { background: rgb(247, 250, 252) url('grain.b11bae45d622.png') repeat scroll 0% 0%; font-size: 14px; line-height: 14px; padding: 10px 0px 20px 30px; }
#editing-tools-sidebar .showfor > div { padding-left: 10px; position: relative; text-transform: none; }
#editing-tools-sidebar .showfor > div:first-child { margin-top: 10px; }
#editing-tools-sidebar .showfor > div:not(:last-child) { margin-bottom: 10px; }
#editing-tools-sidebar .showfor > div h2 { font-size: 14px; margin: 0px 0px 3px; }
#editing-tools-sidebar .showfor > div .selectbox-wrapper select { width: 150px; text-transform: none; }
.wait { display: none; }
.wiki-doc h1:first-child { border: 0px none; }
.wiki-doc .document-vote { margin: 10px 0px 0px; }
.wiki-doc #doc-contributors { color: rgb(136, 136, 136); font-size: 12px; padding: 6px 0px; }
.wiki-doc #doc-contributors a.user, .wiki-doc #doc-contributors a.user:visited, .wiki-doc #doc-contributors a.user:hover { color: rgb(136, 136, 136); }
#doc-tools { margin-bottom: 20px; }
#revision-list ul li:nth-child(2n+1) { background: rgb(242, 242, 242) none repeat scroll 0% 0%; }
#related-docs-list > li .close-button::before { content: "✕"; }
.vote-wrap { background: rgb(238, 242, 245) none repeat scroll 0% 0%; border: 1px solid rgb(228, 235, 238); margin: 20px 0px; padding: 0px 30px 6px; position: relative; }
.document-vote { display: inline-block; vertical-align: top; }
aside h4 { margin-bottom: 6px; margin-top: 24px; font-size: 12px; text-transform: uppercase; }
aside .document-vote span { display: block; }
article #unhelpful-survey::after { background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3); content: ""; display: block; height: 10px; left: -5px; position: absolute; top: 15px; transform: rotate(45deg); width: 10px; z-index: 1; }
#unhelpful-survey .close-button::before { content: "×"; }
#doc-content { line-height: 200%; }
#doc-content h1 { border-top: 1px dotted rgb(193, 197, 200); font-size: 26px; margin-top: 36px; padding-top: 36px; }
#doc-content h2 { font-size: 19px; margin: 21px 0px 8px; }
#doc-content ul, #doc-content ol, #doc-content dl { margin: 0px 0px 1em 40px; padding: 0px; }
#doc-content ul li, #doc-content ol li, #doc-content dl li { margin: 6px 0px; padding: 0px; }
#doc-content .filepath { font-style: italic; white-space: nowrap; }
#doc-content .wiki-section > h1::after { background: transparent url('icons-sprite.5b3fc773da18.png') no-repeat scroll -50px -396px; content: ""; height: 16px; left: auto; margin: 10px 0px 0px; position: absolute; right: 0px; top: 50%; width: 16px; }
#doc-content .wiki-section.collapsed > h1::after { background-position: -50px -282px; }
#doc-content .note, #doc-content #toc { background: rgb(238, 242, 245) none repeat scroll 0% 0%; border: 1px solid rgb(228, 235, 238); margin: 20px 0px; padding: 20px 30px; }
#doc-content .note h2:first-child, #doc-content #toc h2:first-child { margin-top: 0px; }
#doc-content #toc .tocnumber { display: none; }
#doc-content tr:nth-child(2n+1) { background: rgb(238, 238, 238) none repeat scroll 0% 0%; }
/* ::::: https://mozorg.cdn.mozilla.net/media/css/tabzilla-min.css ::::: */

@font-face {
	font-family: "Open Sans Extrabold";
	font-style: italic;
	font-weight: 800;
	src: url('opensans-extrabolditalic-webfont.eot') format("embedded-opentype"), url('opensans-extrabolditalic-webfont.woff') format("woff"), url('opensans-extrabolditalic-webfont.ttf') format("truetype"), url('opensans-extrabolditalic-webfont.svg') format("svg");
}
@font-face {
	font-family: "Open Sans Light";
	font-style: normal;
	font-weight: normal;
	src: url('opensans-light-webfont.eot') format("embedded-opentype"), url('opensans-light-webfont.woff') format("woff"), url('opensans-light-webfont.ttf') format("truetype");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: normal;
	src: url('opensans-regular-webfont.eot') format("embedded-opentype"), url('opensans-regular-webfont.woff') format("woff"), url('opensans-regular-webfont.ttf') format("truetype");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: bold;
	src: url('opensans-bold-webfont.eot') format("embedded-opentype"), url('opensans-bold-webfont.woff') format("woff"), url('opensans-bold-webfont.ttf') format("truetype");
}
#tabzilla { float: right; display: block; background: transparent url('tab.png') repeat scroll 0% 0%; height: 44px; width: 150px; position: relative; text-indent: -2000px; overflow: hidden; }
#tabzilla::after { background: rgb(255, 255, 255) url('undefined') repeat scroll 0% 0%; content: " "; position: absolute; height: 16px; width: 16px; top: 11px; right: 23px; transform: rotate(0deg); transition: all 0.2s ease-in-out 0s; border-radius: 8px; }
#tabzilla.tabzilla-opened::after { transform: rotate(180deg); }
#tabzilla-panel *, #tabzilla-panel *::before, #tabzilla-panel *::after { box-sizing: content-box; }
:first-child + html #tabzilla-contents {  }
#tabzilla-contents::after { visibility: hidden; display: block; font-size: 0px; content: " "; clear: both; height: 0px; }
#tabzilla-panel #tabzilla-nav a.donate::after { content: " "; width: 12px; height: 10px; background-image: url('undefined'); background-size: 12px 10px; background-repeat: no-repeat; background-position: right center; padding-left: 16px; }
#tabzilla-promo #tabzilla-promo-webwewant.snippet a p::after { content: " »"; }
@media not all, (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
	#tabzilla { background-image: url('tab-high-res.png'); background-size: 150px 90px; }
	#tabzilla-panel #tabzilla-nav a.donate::after { background-image: url('undefined'); background-size: 12px 10px; }
}
@media only screen and (min-width: 720px) and (max-width: 979px) {
}
@media only screen and (max-width: 719px) {
	#tabzilla-panel #tabzilla-nav h2::after { background: transparent url('menu-arrow.png') repeat scroll 0% 0%; content: " "; position: absolute; height: 15px; width: 15px; top: 10px; right: 20px; transform: rotate(0deg); transition: all 0.2s ease-in-out 0s; border-radius: 8px; }
	#tabzilla-panel #tabzilla-nav h2[aria-expanded="true"]::after { transform: rotate(180deg); }
}
