/* ::::: https://edukacja.pwr.wroc.pl/EdukacjaWeb/scripts/lib/themes/default/ui.all.css ::::: */

.ui-clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
/* ::::: https://edukacja.pwr.wroc.pl/EdukacjaWeb/DesignPortalu/Portal.css ::::: */

FORM { margin-bottom: 0px; }
A { font-size: 12px; color: rgb(154, 52, 45); text-decoration: underline; font-family: Arial; font-weight: normal; }
A:link { font-size: 12px; color: rgb(154, 52, 45); text-decoration: underline; font-family: Arial; font-weight: normal; }
A:visited { font-size: 12px; color: rgb(154, 52, 45); text-decoration: underline; font-family: Arial; font-weight: normal; }
A:hover { font-size: 12px; color: rgb(154, 52, 45); text-decoration: underline; font-family: Arial; font-weight: normal; }
A.GUZIK { font-size: 10px; color: rgb(154, 52, 45); text-decoration: none; font-family: Arial; }
A.GUZIK:link { font-size: 10px; color: rgb(154, 52, 45); text-decoration: none; font-family: Arial; }
A.GUZIK:visited { font-size: 10px; color: rgb(154, 52, 45); text-decoration: none; font-family: Arial; }
A.GUZIK:hover { font-size: 10px; color: rgb(0, 0, 0); text-decoration: none; font-family: Arial; }
A.GUZIK_AKT { font-size: 10px; color: rgb(154, 52, 45); text-decoration: none; font-family: Arial; }
A.GUZIK_AKT:link { font-size: 10px; color: rgb(154, 52, 45); text-decoration: none; font-family: Arial; }
A.GUZIK_AKT:visited { font-size: 10px; color: rgb(154, 52, 45); text-decoration: none; font-family: Arial; }
A.GUZIK_AKT:hover { font-size: 10px; color: rgb(0, 0, 0); text-decoration: none; font-family: Arial; }
A.INFO { font-size: 10px; color: rgb(154, 52, 45); text-decoration: none; font-family: Arial; }
A.INFO:link { font-size: 10px; color: rgb(154, 52, 45); text-decoration: none; font-family: Arial; }
A.INFO:visited { font-size: 10px; color: rgb(154, 52, 45); text-decoration: none; font-family: Arial; }
A.INFO:hover { font-size: 10px; color: rgb(0, 0, 0); text-decoration: none; font-family: Arial; }
A.ZAKLADKA { font-size: 12px; font-weight: bold; color: rgb(154, 52, 45); text-decoration: none; font-family: Arial; }
A.ZAKLADKA:link { font-size: 12px; font-weight: bold; color: rgb(154, 52, 45); text-decoration: none; font-family: Arial; }
A.ZAKLADKA:visited { font-size: 12px; font-weight: bold; color: rgb(154, 52, 45); text-decoration: none; font-family: Arial; }
A.ZAKLADKA:hover { font-size: 12px; font-weight: bold; color: rgb(255, 255, 255); text-decoration: none; font-family: Arial; }
A.ZAKLADKA_AKT { font-size: 12px; font-weight: bold; color: rgb(255, 248, 237); text-decoration: none; font-family: Arial; }
A.ZAKLADKA_AKT:link { font-size: 12px; font-weight: bold; color: rgb(255, 248, 237); text-decoration: none; font-family: Arial; }
A.ZAKLADKA_AKT:visited { font-size: 12px; font-weight: bold; color: rgb(255, 248, 237); text-decoration: none; font-family: Arial; }
A.ZAKLADKA_AKT:hover { font-size: 12px; font-weight: bold; color: rgb(255, 255, 255); text-decoration: none; font-family: Arial; }
PRE, BODY { font-family: Arial; font-size: 12px; }
BODY.PORTAL { background-image: url('tlo01.gif'); color: rgb(0, 0, 0); background-color: rgb(242, 242, 242); font-size: 12px; text-decoration: none; font-family: Arial; margin: 0px 0px 2px; }
TD { font-size: 12px; cursor: default; }
TD.TYTUL { background-image: url('cl_tytul01.gif'); background-repeat: no-repeat; width: 986px; height: 70px; padding: 0px; }
TD.SRODKOWA_KOMORKA { width: 7px; height: 490px; padding: 0px; background-image: url('spacer.gif'); background-repeat: repeat; }
TABLE.LOGOWANIE { width: 168px; border-width: 0px; padding: 0px; margin: 0px; border-collapse: collapse; border-spacing: 0px; }
TABLE.ZAKLADKI { border-width: 0px; padding: 0px; margin: 0px; border-collapse: collapse; border-spacing: 0px; }
TD.LINIA { background-image: url('linia.gif'); background-repeat: no-repeat; width: 168px; height: 19px; }
TD.LOGOWANIE_GRAF { background-image: url('logowanie.gif'); background-repeat: no-repeat; width: 168px; height: 24px; }
TD.DOSTEPNE_OPCJE_GRAF { background-image: url('dostopcje.gif'); background-repeat: no-repeat; width: 168px; height: 24px; }
TD.INFO_BOLD { font-size: 14px; font-family: Arial; font-weight: bold; color: rgb(154, 52, 45); }
TD.INFO { font-size: 10px; font-family: Arial; font-weight: normal; color: rgb(154, 52, 45); }
INPUT.BUTTON_ZALOGUJ { border: 0px none; padding: 0px; background-color: rgb(241, 209, 162); background-image: url('b_zaloguj.gif'); width: 67px; height: 22px; }
INPUT.BUTTON_ZAPOMNIALEM { border: 0px none; background-color: rgb(241, 209, 162); background-image: url('b_zapomnialem_h.gif'); width: 100px; height: 22px; }
INPUT.UZYTKOWNIK { background-color: rgb(255, 255, 255); font-size: 10px; border: 1px solid rgb(154, 52, 45); font-family: Arial; }
INPUT.HASLO { background-color: rgb(255, 255, 255); font-size: 10px; border: 1px solid rgb(154, 52, 45); font-family: Arial; }
input.przycisk { background-color: rgb(154, 52, 45); font-size: 10px; color: rgb(249, 223, 188); border: 1px solid rgb(249, 223, 188); font-family: Arial; cursor: pointer; }
TD.ZAKLADKA_AKT_LE { background-image: url('zakladka_akt2_le.gif'); background-repeat: no-repeat; width: 13px; height: 22px; padding: 0px; }
TD.ZAKLADKA_AKT_SR { background-image: url('zakladka_akt2_sr.gif'); background-repeat: repeat; height: 22px; padding: 0px; }
TD.ZAKLADKA_AKT_PR { background-image: url('zakladka_akt2_pr.gif'); background-repeat: no-repeat; width: 5px; height: 22px; padding: 0px; }
TD.ZAKLADKA_LE { background-image: url('zakladka2_le.gif'); background-repeat: no-repeat; width: 13px; height: 22px; padding: 0px; }
TD.ZAKLADKA_SR { background-image: url('zakladka2_sr.gif'); background-repeat: repeat; height: 22px; padding: 0px; }
TD.ZAKLADKA_PR { background-image: url('zakladka2_pr.gif'); background-repeat: no-repeat; width: 5px; height: 22px; padding: 0px; }
TD.LINIA_POD { background-image: url('kreska_g.gif'); background-repeat: repeat; width: 986px; height: 18px; padding: 0px; }
TD.LINIA_KONCOWA { background-image: url('kreska_d.gif'); background-repeat: repeat; width: 986px; height: 18px; padding: 0px; }
TD.GUZIK_NIEAKT { background-image: url('guzik_nieakt.gif'); background-repeat: no-repeat; width: 168px; height: 24px; vertical-align: middle; }
TD.GUZIK_AKT { background-image: url('guzik_akt.gif'); background-repeat: no-repeat; width: 168px; height: 24px; vertical-align: middle; }
P { font-size: 12px; cursor: default; }
TABLE.TLO_DLA_MENU { width: 168px; border: 0px solid Black; padding: 0px; margin: 0px; border-collapse: collapse; border-spacing: 0px; }
TABLE.TYTUL_PORTALU { width: 100%; border-width: 0px; padding: 0px; margin: 0px; border-collapse: collapse; border-spacing: 0px; }
TABLE.LINIA_POD_ZAK { width: 100%; border-width: 0px; padding: 0px; margin: 0px; border-collapse: collapse; border-spacing: 0px; }
TABLE.CENTER_TRESC { background-color: rgb(255, 255, 255); width: 100%; border-width: 0px; }
TABLE.GUZIKI_PODDZIALOW { width: 168px; border-width: 0px; padding: 0px; margin: 0px; border-collapse: collapse; border-spacing: 0px; }
TABLE.MENU_I_CENTRUM { border-width: 0px; width: 100%; padding: 0px; margin: 0px; border-collapse: collapse; border-spacing: 0px; }
HR { width: 100%; height: 1px; color: rgb(154, 52, 45); }
TD.GUZIK_HOME { background-image: url('b_home.gif'); background-repeat: no-repeat; width: 20px; height: 20px; }
TD.GUZIK_HELP { background-image: url('b_help.gif'); background-repeat: no-repeat; width: 20px; height: 20px; }
TABLE.KOLOROWA { background-color: rgb(154, 52, 45); }
INPUT, TEXTAREA { font-size: 12px; border: 1px solid rgb(154, 52, 45); font-family: Arial; }
TD.NORMAL_CENTROWANY { font-family: Arial; font-size: 12px; background-color: rgb(255, 248, 237); margin: 0px; border: 0px solid; padding: 4px; text-align: center; vertical-align: middle; }
TD.BIALA { background-color: rgb(255, 255, 255); padding: 1px; font-size: 12px; }
TD.NAVIGATOR_NEW { border-color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); border-style: solid; border-width: 0px 1px 1px; }
TD.BIALA { background-color: rgb(255, 255, 255); padding: 1px; font-size: 12px; }
TD.LEWA_KOMORKA { background-color: rgb(241, 209, 162); width: 172px; padding: 0px; border: 1px solid rgb(0, 0, 0); }
TD.PRAWA_KOMORKA { border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); padding: 0px; border-width: 1px 1px 0px; }
TABLE.KONTENER { width: 100%; margin: 0px; border: 0px solid Black; padding: 0px; }
TABLE.MAIN { font-family: Arial; font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); width: 986px; margin: 0px; border: 0px solid Black; padding: 0px; }
TABLE.MAIN_COOKIES { font-family: Arial; font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(241, 209, 162); width: 986px; margin: 0px; border: 1px solid Black; padding: 0px; }
TD.MAIN { font-family: Arial; font-size: 12px; color: rgb(0, 0, 0); margin: 0px; border: 0px solid Black; padding: 0px; }
table.paging-panel { width: 100%; margin: 0px; border: 0px solid rgb(102, 102, 102); }
td.paging-td { text-align: center; }
span.paging-numeric-span { padding: 0px 8px; }
input.paging-shift-btn { background-color: rgb(255, 255, 255); font-size: 12px; font-weight: bold; color: rgb(154, 52, 45); border: 0px solid rgb(154, 52, 45); font-family: arial; padding: 0px; width: 30px; cursor: pointer; }
input.paging-shift-btn-disabled { background-color: rgb(255, 255, 255); font-size: 12px; font-weight: bold; color: rgb(102, 102, 102); border: 0px solid rgb(154, 52, 45); font-family: arial; padding: 0px; width: 30px; }
input.paging-numeric-btn { background-color: rgb(255, 255, 255); color: rgb(154, 52, 45); font-size: 11px; font-weight: bold; border: 0px solid rgb(154, 52, 45); font-family: verdana; padding: 0px; cursor: pointer; }
input.paging-numeric-btn-disabled { background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-family: verdana; font-size: 11px; font-weight: bold; border: 0px none; text-decoration: underline; padding: 0px; }
